.main-header {
  justify-content: start!important;
}


.header-search {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 12px;
  height: 52px;
}

.btn-categories, .header-search-block {
  height: 36px;
}

.btn-search {
  border-radius: 0 4px 4px 0;
}

h1 {
  margin: 0 24px 0 0;
  width: 284px;
  font-size: 30px;
}

input {
  margin-left: 24px;
  border-radius: 4px 0 0 4px;
  width: 816px;
}

